.pokemon {
    height: 100vh;

}

.body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #000000;
}

.pokeballButton {
    border: none;
    cursor: pointer;
    outline: none;
    display: flex;
    align-items: center;
    padding: 50px 50px;
    font-size: 1.5rem;
    background: -webkit-linear-gradient(
            rgba(124, 166, 252, 1) 25%,
            rgba(119, 235, 129, 1) 100%
    );
    color: GrayText;

}

.pokeballImg {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.pokemonInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2px;
    margin: 10px 0;
    background: -webkit-linear-gradient(
            rgba(124, 166, 252, 1) 25%,
            rgba(119, 235, 129, 1) 100%
    );;
    color: Black;
}

.pokemonInfoImg {
    width: 100px;
    margin: 100px 0;
}

.pokemonTitle {
    margin: 50px 0;
    font-size: 2rem;
    font-weight: bold;
}
